.c-select {
  display: flex;
  flex-direction: column;

  input {
    display: none
  }

  &__label {
    margin-bottom: 8px;
    display: flex;
    gap: 0.2rem;
  }

  &__required-indicator {
    color: var(--color-text-danger);
  }

  &__all-options-container {
    position: relative;
  }

  &__selected-option {
    height: 48px;
    border: 1px solid var(--color-form-comp-border);
    background-color: var(--color-form-comp-bgcolor);
    padding: 0 16px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    display: flex;

    &:hover {
      cursor: pointer;
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 1.1rem;
      width: calc(100% - 16px);
    }
  }

  &__options {
    position: fixed;
    background-color: var(--color-select-options-bgcolor);
    border-radius: 8px;
    border: 1px solid var(--color-select-options-border);
    overflow: hidden;
    max-height: 200px;
    overflow-y: auto;
    z-index: 24;
    padding: 8px 0;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 0 8px);
  }

  &__option {
    padding: 8px 16px;

    &:hover {
      cursor: pointer;
      background-color: var(--color-foreground-hover);
    }
  }
}