.c-modal {
  background-color: var(--color-foreground);
  padding: 23px 16px;
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
  color: var(--color-text);

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    z-index: 32;
  }

  &__title {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
  }

  &__content {
    margin: 32px 0;
    max-height: 400px;
    overflow-y: auto;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}