:root {
  --white: #f6f6f6;
  --black: #161616;
  --blue-100: #dde5f5;
  --blue-200: #b2caf4;
  --blue-300: #92b6f9;
  --blue-400: #5d93f6;
  --blue-500: #2b6be2;
  --blue-600: #114cbd;
  --blue-700: #032e80;
  --blue-800: #02225e;
  --blue-900: #001640;
  --gray-100: #e1e3e8;
  --gray-200: #cdd0d7;
  --gray-500: #666c78;
  --gray-700: #293245;
  --gray-800: #151d2f;
  --gray-900: #0b1426;
}
