.c-textarea {
  textarea {
    resize: vertical;
    background: none;
    color: var(--color-text);
    border: 2px solid var(--color-text);
    padding: 8px;
    border-radius: 8px;
    min-height: calc(1rem + 24px);
    min-height: calc(4rem + 24px);
    font-size: 1rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  input {
    display: none;
  }

  &__label {
    margin-bottom: 8px;
    display: flex;
    gap: 0.2rem;
  }

  &__required-indicator {
    color: var(--color-text-danger);
  }
}